.content_header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section_content{
    text-align: center; 

    
  }
  .contactPage{
    height: 100vh;
    /* border-radius: 20px; */
    margin-bottom: 1px;
    height: 700px;
      background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.83),
        rgba(119, 22, 161, 1)
      );

  }
  .contact{
      
      font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color : #fff;    
  }
  .contact_section{
    padding-top: 40px;
  }
  .contact_section .col-md-6{
    width: 50%;
  }
  
  .form_line{
    border-right: 1px solid #B29999;
  }
  
  .form_group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form_control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
  }