.hover1:hover{
    box-shadow: 0px 0px 5px 1px gray;
    cursor: pointer;
}
.checkbox1{
    width: 20px;
}
.filterbtn{
    display: none;
}
.ops{
    width: 25%;
}
@media screen and (max-width:430px) {
  .emptydiv,.filterG{
        display: none;
    }
    .ops{
        width: 60%;
    }
.maindiv{
    flex-direction: column !important;
}
.herllg{
    padding:30px 0px !important;
    overflow-x: hidden !important;
}
.headingError{
    font-size: 25px !important;
}
.paraError{
    font-size: 15px !important;
}
.filterbtn{
    width: 90%;
    display: block;
}
}