@media screen and (max-width:430px) {
    .form{
        width: 100% !important;
        padding: 10px !important;
        border-radius: 0 !important;
    }
    .pad{
        padding: 0  !important;
        margin: 0 !important;
    }
}