.logo img {
  height: 100px;
  width: 250px;
  position: absolute;
  bottom: 20px;
}
.logo {
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 250px;
}
/* .cb {
  list-style: none;
} */
.minus {
  height: 70px;
}
.Mobile {
  display: none;
}
.searchicon::before{
  font-size: x-large;
}
.circle 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 100px;
    height: 100px;	
    z-index: 16;
}

.loader 
{
  width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 15px solid #808991;
	border-top: 15px solid #7a06ff;
	border-radius: 50%;
	animation: rotate 0.2s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 

@media screen and (max-width: 430px) {
  .Mobile {
    display: block;
  }
  .mobile{
    width: 100%;
    background-color: aliceblue;
    height: 300px;
    line-height: 4;
  }
    .Pc {
    display: none !important;
  }
}
