.input:focus{
    outline: none;
}
 .card-wrap {
    background-color: #fff;
    /* box-shadow: 0px 0px 30px 10px rgba(201, 201, 201, 0.226); */
    /* width: 22%;
    height: auto; */
}
body{
  color: rgb(15, 15, 15);
}
  .textcolor{
    color: #7935b4;
  }

  .seachicon::before{
    font-size: 26px;
}