.inputP input::placeholder{
    color: black;
}
.inputP input{
    width: 90%;
}
.inputP{
    width: 40%;
}

.seachicon::before{
    font-size: 26px;
}

.divCata{
    width: 300px;
    height: fit-content;
}